
<div class="banner mb-5" style="background-image: url('/assets/images/cinema2.jpg') height: 300px;">
  <div class="container">
    <h1 class='text-center'>My Lists</h1>
  </div>
</div>


<div class="cards text-center m-4" >
  <% @lists.each do |list| %>
    <% if list.photos.count > 0 %>
      <% photo = list.photos.first %>
      <div class="card-category p-4" style="background-image: url('<%= cl_image_path photo.key, width: 300, crop: :fill  %>'); background-size: cover;">
        <%= link_to list_path(list) do %>
          <h4 style=""><%= list.name %></h4>
        <% end %>
      </div>
    <% else %>
      <div class="card-category p-4">
        <%= link_to list_path(list) do %>
        *
          <h4><%= list.name %></h4>
        <% end %>
      </div>
    <% end %>
 <% end %>
</div>
